.container {
    width: 1000px;
    margin: auto;
    min-width: 800px;
}

body{
    background-image: url(../img/fon.jpg);
    min-width: 1000px;
}

#header{
    width: 100%;
    height: 100px;

    background: #D3F097; /* Для браузеров, которые не поддерживают градиенты */
    background: -webkit-linear-gradient(#D3F097, #8DD204); /* Для Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#D3F097, #8DD204); /* Для Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#D3F097, #8DD204); /* Для Firefox 3.6 - 15 */
    background: linear-gradient(#D3F097, #8DD204); /* Стандартный синтаксис */
}

#footer{
    width: 100%;
    height: 20%;

    background: #D3F097; /* Для браузеров, которые не поддерживают градиенты */
    background: -webkit-linear-gradient(#D3F097, #409721); /* Для Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#D3F097, #409721); /* Для Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#D3F097, #409721); /* Для Firefox 3.6 - 15 */
    background: linear-gradient(#D3F097, #409721); /* Стандартный синтаксис */
}

#newGoods li {
    background-color: #1d643b;
    width: 314px;
    height: 400px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
}

#navBar ul {
    border-radius: 30px;
    width: 955px;
    list-style-type: none;
    overflow: hidden;
    background-image: linear-gradient(#CBFD03, gold);
    text-align: center;
    display: block;
}

#navBar li {
    float: left;
    display: inline-block;
}

#navBar li a, .dropbtn {
    height: 50px;
    color: #3f9ae5;
    max-width: 100px;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#navBar li a:hover{
    background-color: #D3F097;
}

